---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">CodeSnakeskin</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">项目</a>
        <a href="/posts/">学习记录</a>
        <a href="https://github.com/codeSnakeKun/SnakeKun.git" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

